@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
.outerbody{background: #fff;border:5px solid #000;border-radius:30px;text-align: center;padding: 30px 0px 30px 30px;font-family: oswald;}
.center{text-align:center;}
.imgcenter img{text-align: center;display: flex;width:120px;}
.text-center{text-align: center !important;}
h1{font-size:36px !important;color:#7b7a7a;font-weight: 600;}
.outer{background: #b7e6f1;}
.imgcenter{display: flex;justify-content: center;}
p{font-size: 16px !important;}
.mTop50{margin-top: 50px;}
.mTop30{margin-top: 30px;}
h2,h5{font-family: oswald;color:#7b7a7a;}
.button{padding:10px 5px;}
hr { margin-top: 1rem; margin-bottom: 1rem;  border-top: 5px solid #757575 !important; }
ul.social li{list-style-type: none;display: inline-block;}
.vertical-align{display: flex;vertical-align: middle;align-items: center;}
.social img{width:50px;margin: 10px;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.container{max-width: 100% !important;margin: 0px;padding: 0px !important;}
.rightimg img { width: 420px !important; height: 580px; padding-right: 0px !important; /* margin-top: 20px; */ border-radius: 43px 0px 0px 43px; /* padding-top: 15px; */ box-shadow: 0px 0px 15px #585858;}
.rightimg{padding: 0px !important; margin: 0px !important; /* position: absolute; */  display: inline-block; padding-right: 0px !important;}
.sidebar{background: #272626;color:#fff;border-radius:25px 0px 0px 25px;margin: 10px;}
.sidebarul{margin-bottom:0px;list-style-type: none;}
.sidebarul li{padding: 27px 0px;font-size: 22px;}
.outerbody1{background: #fff;border:5px solid #000;border-radius:30px;text-align: center;font-family: oswald;}
.mBot20{margin-bottom: 20px;}
.pBot0{padding-bottom: 0px !important;}
.sidebarul{padding-left: 0px;}
.mTop10{margin-top: 10px;}
.blktxt{color:#000;}
.redtxt{color:red;}
.sidebut{padding: 20px;width:85%;border-radius: 30px 30px 0px 0px;background: #5d5d5d;margin-left: 25px;}
/* .image1 img{width:1060px;} */
.image1 {border-radius:30px; min-width: 1080px !important; background: url(png/bg2.png)no-repeat; background-size: cover; height: 280px; margin-right: 30px; padding-bottom: 20px !important;}
.image1 h4{font-weight: 700; color: #fff; padding: 115px; font-size: 40px;text-transform: uppercase;position: absolute;margin-left: 50px;}
.image2 img{height: 345px;margin-top: 30px;}
.image3 img{height:185px;padding: 30px 0px 0px;}
.dayorder{border: 6px solid #000; border-radius: 30px 0px 0px 30px; margin-top: 30px; min-height: 343px;border-right: 0px;}
.h3welocme{margin: auto;padding: 20px 0px;}
li.active{background: #5a5a5a; padding: 27px 0px;}
.imagedept {background: url(png/bg2.png)no-repeat; background-size: cover; height: 385px; padding-bottom: 20px !important;margin-top: -85px;}
.button{background: #fff; color: #000; border: 0px solid #000; border-radius: 30px; position: relative; width: fit-content; padding: 10px 30px; float: right; Top: 205px; margin: auto; margin-right: 15px; display: initial;}
.nav-tabs .nav-item{width:20%; flex-wrap: nowrap; }
.nav-tabs{background: #272626;color: #fff !important; font-size: xx-large;}
.nav-tabs .nav-link{color:#fff;}
.nav-tabs .nav-link { border: 1px solid transparent; border-top-left-radius: .25rem; border-top-right-radius: .25rem; color: #fff !important; font-size: 20px !important; padding: 15px; /* border-radius: 24px; */ }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { color: #fff !important; background-color: #4a4949 !important; }
.nav-tabs{border-radius:5px;}
.tab-content{background: #fff; min-height: 300px; border: 5px solid #525252; margin-top: 50px;border-radius: 30px;}
.imagedept h4{font-weight: 700; color: #fff; padding: 165px 40px; font-size: 48px;text-transform: uppercase;letter-spacing: 5px; text-shadow: 2px 5px 20px black;}
.tab1{padding: 20px;}
.nav-tabs{width:100%;float: right;border-radius: 15px; }
.left-arrow{width: 120px; flex: 0 0 10% !important;}
.tabsus{flex: 0 0 89% !important; max-width: 89% !important;}
.tabsus li{width: 35%;}